<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>app</title>
</head>
<body>
  <h1>サプー書店</h1>
  <form method="post" action="{{url_for('register')}}">
    <table border="1">
      <tr>
        <td>タイトル</td>
        <td>金額</td>
        <td>入荷日</td>
      </tr>
      <tr>
        <td><input type="text" name="title"></td>
        <td><input type="text" name="price"></td>
        <td><input type="text" name="arrival_day"></td>
      </tr>
    </table>
  <input type="submit" value="登録">
  </form>
</body>
</html>