<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>practice_flask</title>
</head>
<body>
  <h1>サプー書店</h1>
  <h2>今月の新刊一覧</h2>
  {% if books==[] %}
    <p>今月の新刊情報はまだありません</p>
  {% else %}
  <table border="1">
    <tr>
      <td>タイトル</td>
      <td>金額</td>
      <td>入荷日</td>
    </tr>
    {%for book in books%}
      <tr>
        <td>{{book.title}}</td>
        <td>{{book.price}}</td>
        <td>{{book.arrival_day}}</td>
      </tr>
    {% endfor %}
  {% endif %}
  <a href="{{url_for('form')}}">編集</a>
</table>
</body>
</html>